@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

body{
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}



@media screen and (min-width: 1400px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.login-bg {
  background-image: url('../../public/assets/mourizal-zativa-90JFNMyBeek-unsplash.jpg'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 100vh; /* Makes sure the background covers the full height of the viewport */
  
  
}
.breadcrumb-bar {
  background-image: url(../../public//assets/bg.png);
  text-align: center;
  position: relative;
  padding: 70px 0;
}

.circle-icon {   
    border-radius: 50%;
} 

.custom-prev-arrow, .custom-next-arrow {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  z-index: 2;
}
.custom-prev-arrow:hover, .custom-next-arrow:hover {
  background: rgba(0,0,0,0.8);
}
.input::placeholder {
  font-size: 10px; 
}

.text-gold {
  color: #ffbc35;
}

/* Add these styles to your global stylesheet or component-level stylesheet */
.image-wrapper {
  overflow: hidden; /* Keeps the image within its container */
}

.image-wrapper img {
  transition: transform 300ms ease-in-out; /* Smooth transition */
  display: block; /* Remove extra space below the image */
}

.image-wrapper:hover img {
  transform: scale(1.25); /* Slight zoom effect without overflow */
}


/* Apply custom styles to the Calendar */
.react-calendar {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  border: none !important; /* Remove border */
  border-radius: 8px; /* Slight rounding for the calendar container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* Shadow for a premium look */
  background: white; /* Ensure the background is white */
  font-family: 'Arial', sans-serif; /* Custom font */
}

/* Header Styles */
.react-calendar__navigation button {
  background: transparent;
  border: none !important;
  color: #4c40ed !important; /* Header color */
  font-size: 1.25rem;
}

.react-calendar__navigation__label__labelText .react-calendar__navigation__label__labelText--from{
  color: #4c40ed !important;
}



/* Day Tiles */
.react-calendar__tile {
  border-radius: 4px; /* Slightly rounded corners for tiles */
  padding: 10px;
  font-size: 0.875rem;
  color: gray !important; /* Default text color */
  text-decoration: none !important;
}
.react-calendar__tile--now{
  background:#f0f0f0 !important;
}

/* Hover and Active Day Styles */
.react-calendar__tile:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  cursor: pointer;
}

/* Selected Date Styles */
.react-calendar__tile--active {
  background-color: #4c40ed !important; /* Selected date background color */
  color: white !important; /* Text color for selected date */
  border-radius: 8px; /* Rounded corners for selected date */
   /* Shadow for the selected date */
}

/* Styles for Active Dates in Range */
.react-calendar__tile--hasActive {
  background-color: #e0e0e0; /* Background for tiles with active dates */
  color: gray; /* Text color for active dates */
}

/* Weekday Header Styles */
.react-calendar__month-view__weekdays {
  font-weight: 500;
  color: gray; /* Weekday header color */
}

/* Weekend Day Styles */
.react-calendar__month-view__days__day--weekend {
  color: gray; /* Weekend day color */
}

